AZURE_OPENAI_API_KEY="Lägg din Azure API openai nyckel här"
AZURE_OPENAI_ENDPOINT= "Slutpunkt"
DISCORD_TOKEN="Discord token"
AZURE_OPENAI_DEPLOYMENT="Din deployment antingen en färdig LLM eller en egenskapad"
AZURE_SEARCH_ENDPOINT="Azure cognative search slutpunkt"
AZURE_SEARCH_API_KEY="Azure cognative search key"
AZURE_SEARCH_INDEX_NAME="Azure cognative search index"